/*desktop version*/
*{
  box-sizing: border-box;
}

body
{
  margin: 1%;
  font-family: Helvetica; 
}

p {
  border: 1px solid black;
  width: 100%;
  height: auto;
  padding: 2%;
}

div
{
  margin: 0% 2% 0% 1%;
}

span
{
  float:right; 
  width: 30%;
  margin-right: -2.4%;
  margin-top:-2.4%;
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
}


#p1
{
  background:#C8C7C7;
}
#p2
{
  background:#A0A0A0
}
#p3
{
  background:#818181
}

#span1
{
  background:#BB1748;
}
#span2
{
  background:#EC3A3A;
}
#span3
{
  background:#8F2BAB;
}








.row
{
  width: 100%;
}


/*Desktop View*/
@media(min-width: 992px)
{
 
 .col-lg-4
  {
    float:left;
    width: 30%

  }
}

/*tablet view*/
@media(min-width: 768px) and  (max-width: 991px)

{
  .col-md-6
  {
    float:left;
    width: 47%;
  }

   #div3
  {
    width: 97%;
  }


}

/*mobile view*/
@media (max-width: 767px)
{
  .col-sm-12
  {
    
    width: 97%;
    margin: 0%;
  }
}

