/*desktop version*/
*{
  box-sizing: border-box;
}

body
{
  font-family: 'Oxygen', sans-serif;
}

@media(min-width: 768px)
{
  .col-sm-12
  {
    color: blue;
    width: 97%;
    margin: 0%;
  }

  #divP
  {
    width: 50%;
  }

}

#header-nav 
{
  background:#ddd;
  border-radius: 0;
  border: 0;
}

.container-fluid div
{
  padding-top: 10px;
}


.navbar-header span
{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2%;
  /*font-family: ;*/
}


#nav-list a:hover
{
  font-weight: bold;
  font-size: 1.3em;
  font-family: 'Oxygen', sans-serif;
  background: grey;

}

#divP
{
  width: 98%;
  margin: 1%;
  border: 2px solid black;
  padding: 1%;
  font-size: 1.5em;
  background:#C8C7C7;
}

div p
{
  font-weight: bold;
  font-size: 1.3em;
}



